@import 'core';

.battle-items {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    .user-choice,
    .machine-choice {
        display: flex;
        flex-direction: column;
        align-items: center;

        .label {
            margin-top: 1rem;
            text-transform: uppercase;
        }
    }
}

.won-game,
.game-tie,
.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .message {
        margin-top: 4rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .score {
        margin-top: 1rem;
    }

    .action {
        outline: none;
        border: none;
        border-radius: 1rem;
        background-color: #fff;
        color: $bg-color;
        height: 2.7rem;
        line-height: 2.7rem;
        margin-top: 2rem;
        padding: 0 4rem;
        text-transform: uppercase;
        font-weight: 700;

        &:hover {
            opacity: 0.9;
            cursor: pointer;
        }
    }
}
